@using SummerPractice2026Blazor.Components.Shared
@using SummerPractice2026Blazor.Repository.Entities
@using SummerPractice2026Blazor.Services
@using Radzen
@inject CartService CartService
@inject NotificationService NotificationService

<div class="article-card">
	<div class="price">@Item.Price.ToString("0.0")$</div>

	<img src="@Item.ImageUrl" alt=" @Item.Name"/>

	<h3>@Item.Name</h3>

	<Button OnClick="AddToCart">Adaugă în coș</Button>

	<p>@Item.Description</p>
</div>

@code {
	[Parameter, EditorRequired]
	public Article Item{get; set;}

	private async Task AddToCart()
	{
		await CartService.AddToCartAsync(Item);
		NotificationService.Notify(new NotificationMessage
		{
			Severity = NotificationSeverity.Success,
			Summary = "Succes",
			Detail = $"{Item.Name} a fost adăugat în coș!",
			Duration = 3000
		});
	}
}
